In [1]:
import json
import pandas as pd
import psycopg2
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import random
import os

In [2]:
def load_db():
  with open("/content/drive/MyDrive/yeoreodigm/data_files/db_info.json") as json_file:
    DB_INFO = json.load(json_file)
  
  endpoint = DB_INFO["ENDPOINT"]
  dbname = DB_INFO["DB_NAME"]
  user = DB_INFO["USER_ID"]
  password = DB_INFO["PASSWORD"]
  db = psycopg2.connect(host=endpoint,dbname=dbname,user=user,password=password)
  return db

In [4]:
def load_place(db):
  cursor= db.cursor()
  
  load_place_sql= f'SELECT place_id,nature,outdoor,fatigue,sea,walking,exciting,day,culture,cluster FROM places_analysis'
  cursor.execute(load_place_sql)
  result = cursor.fetchall()
  df = pd.DataFrame(result)
  df.columns = ['place_id','nature','outdoor','fatigue','sea','walking','exciting','day','culture','cluster']
  df = df.sort_values(by='place_id',ascending=True)
  return df

In [3]:
def calculate_taste(user_id,db):
  print("calculate_tast...")
  cursor = db.cursor()
  load_survey_sql = f'SELECT result FROM survey_result WHERE member_id = {user_id};'
  cursor.execute(load_survey_sql)
  result = cursor.fetchone()
  survey_result = result[0]
  print(survey_result)

  theme_score = np.array([0]*8)
  for place in survey_result:
    load_place_sql = f'SELECT nature,outdoor,fatigue,sea,walking,exciting,day,culture FROM places_analysis WHERE place_id={place}'
    cursor.execute(load_place_sql)
    place_theme = cursor.fetchone()
    
    theme_score += np.array(place_theme)
    #print('place : ',place,"\tnow : ",place_theme)

  avg_theme_score = theme_score / len(survey_result)
  user_taste = pd.DataFrame(avg_theme_score.reshape(1,-1))
  user_taste.columns = ['nature','outdoor','fatigue','sea','walking','exciting','day','culture']
  print("calculate_tast DONE!!")
  return user_taste

In [29]:
def find_places_in_travel_note(travel_note_id, db):
  cursor= db.cursor()
  sql = f"select places from course where travel_note_id={travel_note_id}"
  cursor.execute(sql)
  result = cursor.fetchall()
  for places in result:
    print(places)
  places = []
  for path in result:
    places += path[0]
  return places

In [30]:
def recommend_place(user_id,travel_note_id):
  
  top = 50
  db = load_db()
  place = load_place(db)
  user_taste = calculate_taste(user_id,db)
  places_in_course = find_places_in_travel_note(travel_note_id, db)
  tag = ['nature','outdoor','fatigue','sea','walking','exciting','day','culture']
  

  #entire tag
  print(user_taste)
  entire_similarity = cosine_similarity(user_taste, place[tag])
  entire_similarity = entire_similarity[0]
      
  print('entire similarity : ',entire_similarity)
  
  result_index = entire_similarity.argsort()
  
  print("result_index : ",result_index)


  for i in range(-1,-4,-1):
    now_idx = result_index[i]
    sim = entire_similarity[now_idx]
    print("now place ",place.iloc[now_idx])
    print("similarity : ",sim,"df index : ",now_idx)
    

  top_N_result = result_index[-1:-(101):-1]
  print("top_N_similart_result",top_N_result[:10])
  
  result = place.iloc[top_N_result].sort_values(by='place_id',ascending=True)
  result = result.iloc[:top]
  print("result.iloc[:top]")
  print(result)

  result = random.sample(list(result['place_id']), 2) 
  # if course에 있는거랑 곂치면 다시 뽑자!!!
  while set(result).intersection(places_in_course) != set():
    result = random.sample(list(result['place_id']), 2)

  places_in_course += result

  
  print("result **id** list",result)
  
  print("*"*50)

  #6개 태그만 적용하기
  #2개를 뽑아서 없앤다음, 적용하자.4개중 nature, exciting, culture, day
  six_tag = tag.copy()
  picking_list = ['nature', 'exciting', 'sea', 'day']
  randomly_chosen_two_tags = random.sample(picking_list,2)
  for tag in randomly_chosen_two_tags:
    six_tag.remove(tag) #뽑힌 2개는 지워주기

  user_taste_six = user_taste[six_tag]
  print("user taste six : ",user_taste_six)
  six_tag_similarity = cosine_similarity(user_taste_six, place[six_tag])
  six_tag_similarity = six_tag_similarity[0]
  
  print('six similarity : ',six_tag_similarity)
  
  six_result_index = six_tag_similarity.argsort()
  
  print("six result_index : ",six_result_index)

  for i in range(-1,-4,-1):
    now_idx = six_result_index[i]
    sim = six_tag_similarity[now_idx]
    print("now place ",place.iloc[now_idx])
    print("similarity : ",sim,"df index : ",now_idx)
    
  top_N_result_six = six_result_index[-1:-101:-1]
  print("top_N_result(only six tag)",top_N_result_six[:10])
  
  result_six = place.iloc[top_N_result_six].sort_values(by='place_id',ascending=True)
  result_six = result_six.iloc[:top]
  print("result _ six")
  print(result_six)
  
  result_six = random.sample(list(result_six['place_id']), 2) # if 위에서 뽑은거랑 곂치면 다시 뽑자!!!
  while set(result_six).intersection(places_in_course) != set():
    result_six = random.sample(list(result_six['place_id']), 2)

  
  final_result = result+result_six

  return final_result

In [27]:
db = load_db()
path = find_places_in_travel_note(311,db)

([18, 46],)
([223, 80, 0],)

In [31]:
final_result = recommend_place(user_id=184,travel_note_id=311)

calculate_tast...
[32, 19, 13, 6, 33, 8, 10, 25, 41, 72]
calculate_tast DONE!!
([18, 46],)
([223, 80, 0],)
   nature  outdoor  fatigue  sea  walking  exciting  day  culture
0     2.0      2.5      1.4  1.6      2.2       1.3  2.8      0.1
entire similarity :  [0.82417379 0.93669009 0.89572696 ... 0.42084073 0.55776359 0.84998234]
result_index :  [449 450 513 ... 607 516 440]
now place  place_id    441
nature        2
outdoor       2
fatigue       1
sea           1
walking       2
exciting      1
day           2
culture       0
cluster       8
Name: 453, dtype: int64
similarity :  0.990056184533482 df index :  440
now place  place_id    517
nature        2
outdoor       2
fatigue       1
sea           1
walking       2
exciting      1
day           2
culture       0
cluster       8
Name: 526, dtype: int64
similarity :  0.990056184533482 df index :  516
now place  place_id    608
nature        2
outdoor       2
fatigue       1
sea           1
walking       2
exciting      1
day           2
culture       0
cluster       8
Name: 622, dtype: int64
similarity :  0.990056184533482 df index :  607
top_N_similart_result [440 516 607 437 591 430 845 582 570 468]
result.iloc[:top]
     place_id  nature  outdoor  fatigue  sea  walking  exciting  day  culture  \
20          8       2        3        2    3        2         2    3        0
24         12       2        3        2    3        3         2    3        0
25         13       2        3        1    3        3         1    3        0
29         18       2        3        1    1        2         1    3        0
34         23       3        3        2    2        2         2    3        0
37         25       2        3        2    3        3         2    3        0
43         31       2        3        2    3        3         2    3        0
44         32       2        3        1    1        3         1    3        0
46         34       2        3        2    3        3         2    3        0
52         40       2        3        1    1        2         1    3        0
57         45       3        3        1    3        3         1    3        0
58         46       2        3        1    1        3         1    3        0
65         53       3        3        2    2        3         1    3        0
68         56       2        3        2    3        3         2    3        0
71         59       2        3        2    2        2         1    2        0
83         70       2        3        1    1        3         1    3        0
84         71       2        2        1    1        2         1    3        0
87         73       2        3        1    1        3         1    3        0
93         79       3        3        2    1        3         1    3        0
98         84       2        3        1    1        3         1    3        0
104        92       2        3        1    1        3         1    3        0
109        97       2        3        2    1        3         1    3        0
121       109       2        3        1    1        3         1    3        0
124       112       2        3        1    1        3         1    3        0
131       119       2        3        1    1        3         1    3        0
147       134       3        3        2    3        2         2    3        0
161       147       3        3        1    3        3         1    3        0
170       156       2        3        1    1        2         1    3        0
172       158       2        3        1    2        3         1    3        0
177       163       2        3        1    2        2         1    3        0
179       165       2        3        1    2        3         1    3        0
181       167       2        3        1    1        3         1    3        0
184       170       3        3        3    2        3         2    3        0
188       174       2        3        1    1        2         1    3        0
205       191       3        3        2    3        2         2    3        0
206       192       3        3        2    2        3         1    3        0
220       205       3        3        1    3        3         1    3        0
233       220       3        3        2    2        3         1    3        1
241       229       2        3        1    1        3         1    3        0
257       245       3        3        1    1        3         1    3        0
268       254       3        3        1    3        3         1    3        0
281       267       3        3        2    3        3         2    3        0
284       270       3        3        1    2        3         1    3        0
285       271       2        3        1    1        3         1    3        0
294       280       3        3        2    3        3         2    3        0
295       282       3        3        1    2        3         1    3        0
304       291       3        3        2    3        3         2    3        0
317       307       3        3        2    2        3         1    3        1
320       310       3        3        2    3        2         2    3        0
323       312       3        3        2    3        2         2    3        0

     cluster
20         9
24         9
25         9
29         1
34         9
37         9
43         9
44         1
46         9
52         1
57         9
58         1
65         9
68         9
71         9
83         1
84         1
87         1
93         1
98         1
104        1
109        1
121        1
124        1
131        1
147        9
161        9
170        1
172        1
177        9
179        1
181        1
184        9
188        1
205        9
206        9
220        9
233        9
241        1
257        1
268        9
281        9
284        9
285        1
294        9
295        9
304        9
317        9
320        9
323        9
result **id** list [92, 270]
**************************************************
user taste six :     nature  outdoor  fatigue  sea  walking  culture
0     2.0      2.5      1.4  1.6      2.2      0.1
six similarity :  [0.96335564 0.96127888 0.90560636 ... 0.1356451  0.27908598 0.9425556 ]
six result_index :  [ 785 1040  513 ...  372  191  209]
now place  place_id    210
nature        3
outdoor       3
fatigue       2
sea           2
walking       3
exciting      0
day           3
culture       0
cluster       1
Name: 190, dtype: int64
similarity :  0.9959945996158603 df index :  209
now place  place_id    192
nature        3
outdoor       3
fatigue       2
sea           2
walking       3
exciting      1
day           3
culture       0
cluster       9
Name: 206, dtype: int64
similarity :  0.9959945996158603 df index :  191
now place  place_id    373
nature        3
outdoor       3
fatigue       2
sea           2
walking       3
exciting      1
day           3
culture       0
cluster       9
Name: 386, dtype: int64
similarity :  0.9959945996158603 df index :  372
top_N_result(only six tag) [209 191 372  52 319 316 323 787 502  70]
result _ six
     place_id  nature  outdoor  fatigue  sea  walking  exciting  day  culture  \
24         12       2        3        2    3        3         2    3        0
28         17       3        3        2    2        2         0    3        0
30         19       2        3        1    2        3         0    3        0
34         23       3        3        2    2        2         2    3        0
36         24       3        3        1    2        3         0    3        0
37         25       2        3        2    3        3         2    3        0
43         31       2        3        2    3        3         2    3        0
46         34       2        3        2    3        3         2    3        0
52         40       2        3        1    1        2         1    3        0
65         53       3        3        2    2        3         1    3        0
68         56       2        3        2    3        3         2    3        0
71         59       2        3        2    2        2         1    2        0
80         68       3        3        2    2        3         0    3        1
84         71       2        2        1    1        2         1    3        0
128       116       1        1        1    1        1         1    3        0
134       122       3        3        2    2        3         0    1        1
172       158       2        3        1    2        3         1    3        0
177       163       2        3        1    2        2         1    3        0
179       165       2        3        1    2        3         1    3        0
184       170       3        3        3    2        3         2    3        0
193       179       1        1        1    1        1         2    3        0
196       182       3        3        2    2        3         0    3        1
206       192       3        3        2    2        3         1    3        0
219       204       3        3        1    2        3         1    1        0
190       210       3        3        2    2        3         0    3        0
233       220       3        3        2    2        3         1    3        1
247       235       2        3        1    2        3         0    3        0
256       244       2        3        1    2        3         0    3        0
263       249       3        3        1    2        3         1    2        0
281       267       3        3        2    3        3         2    3        0
284       270       3        3        1    2        3         1    3        0
294       280       3        3        2    3        3         2    3        0
295       282       3        3        1    2        3         1    3        0
304       291       3        3        2    3        3         2    3        0
309       296       3        3        2    2        3         0    3        1
317       307       3        3        2    2        3         1    3        1
328       317       2        3        2    2        3         0    3        0
331       320       2        3        2    2        3         0    3        0
335       324       2        3        2    2        3         0    3        0
386       373       3        3        2    2        3         1    3        0
391       379       2        3        1    2        3         0    3        0
398       387       2        3        1    2        3         0    3        0
405       394       2        3        1    2        3         1    2        0
426       415       2        2        1    1        2         1    2        0
443       431       2        2        1    1        2         1    2        0
450       438       2        2        1    1        2         1    2        0
453       441       2        2        1    1        2         1    2        0
479       469       2        2        1    1        2         1    2        0
483       473       2        2        1    1        2         1    2        0
502       492       2        2        1    1        2         1    2        0

     cluster
24         9
28         9
30         1
34         9
36         1
37         9
43         9
46         9
52         1
65         9
68         9
71         9
80         1
84         1
128        8
134        9
172        1
177        9
179        1
184        9
193        4
196        1
206        9
219        9
190        1
233        9
247        1
256        1
263        9
281        9
284        9
294        9
295        9
304        9
309        1
317        9
328        1
331        1
335        1
386        9
391        1
398        1
405        1
426        8
443        8
450        8
453        8
479        8
483        8
502        8

In [32]:
final_result

[92, 270, 469, 179]

In [21]:
path

[([18, 46],), ([223, 80, 0],)]

In [25]:
result = []
for i in path:
  print(i[0])
  result += i[0]
result

[18, 46]
[223, 80, 0]

[18, 46, 223, 80, 0]